'scopeName': 'source.jdl'
'name': 'jdl'
'fileTypes': [
  "jdl",
  "jh"
]
'patterns': [
  {
    begin: "(application)\\s+"
    beginCaptures:
      "1":
        name: "storage.modifier.java"
    end: "}"
    patterns: [
      {
        include: "source.java#comments"
      }
      {
        match: "\\b(config)\\b"
        end: "}"
        name: "storage.modifier.java"
      }
    ]
  }
  {
    begin: "(enum)\\s+(\\w+)"
    beginCaptures:
      "1":
        name: "storage.modifier.java"
      "2":
        name: "entity.name.type.class.java"
    end: "}"
    name: "meta.enum.jdl"
    patterns: [
      {
        include: "source.java#comments"
      }
      {
        include: "source.java#enums"
      }
    ]
  }
  {
    begin: "(entity)\\s+(\\w+)(\\s*\\(\\s*(\\w+)\\s*\\))?"
    beginCaptures:
      "1":
        name: "storage.modifier.java"
      "2":
        name: "entity.name.type.class.java"
      "4":
        name: "variable.parameter.java"
    end: "}"
    name: "meta.entity.jdl"
    patterns: [
      {
        begin: "\\b(\\w+)\\s+([A-Z]+\\w*)"
        beginCaptures:
          "1":
            name: "variable.parameter.java"
          "2":
            name: "entity.name.type.class.java"
        end: "(,|\\}|$)"
        patterns: [
          {
            include: "source.java#comments"
          }
          {
            include: "source.java#constants-and-special-vars"
          }
          {
            match: "\\b(required|min|max|minlength|maxlength|minbytes|maxbytes|pattern)\\b"
            name: "storage.modifier.java"
          }
        ]
      }
      {
        include: "source.java#comments"
      }
    ]
  }
  {
    include: "source.java#comments"
  }
  {
    begin: "(relationship)\\s+(ManyToMany|ManyToOne|OneToMany|OneToOne)"
    beginCaptures:
      "1":
        name: "storage.modifier.java"
      "2":
        name: "storage.modifier.java"
    end: "}"
    name: "meta.relationship.jdl"
    patterns: [
      {
        include: "source.java#comments"
      }
      {
        match: "\\b(([A-Z]\\w*)(\\s*\\{(\\s*\\w+\\s*)(\\s*\\((\\s*\\w+\\s*)\\))?\\s*(required)?\\s*\\})?)"
        captures:
          "2":
            name: "entity.name.type.class.java"
          "4":
            name: "variable.parameter.java"
          "6":
            name: "variable.parameter.java"
          "7":
            name: "storage.modifier.java"
      }
      {
        match: "\\bto\\b"
        name: "keyword.control.java"
      }
    ]
  }
  {
    match: "\\b(noFluentMethod|skipClient|skipServer)\\s+(for)\\s+(([A-Z]\\w*\\s*),\\s*)*([A-Z]\\w*|\\*|all)(\\s+(except)\\s+(([A-Z]\\w*\\s*),\\s*)*([A-Z]\\w*))?"
    captures:
      "1":
        name: ">storage.modifier.java"
      "2":
        name: "keyword.control.java"
      "4":
        name: "entity.name.type.class.java"
      "5":
        name: "entity.name.type.class.java"
      "7":
        name: "keyword.control.java"
      "9":
        name: "entity.name.type.class.java"
      "10":
        name: "entity.name.type.class.java"
  }
  {
    match: "\\b(angularSuffix|dto|microservice|paginate|search|service)\\s+(([A-Z]\\w*\\s*),\\s*)*([A-Z]\\w*|\\*|all)(\\s+(with)\\s+([a-zA-Z_\\-0-9]+)(\\s+(except)\\s+(([A-Z]\\w*\\s*),\\s*)*([A-Z]\\w*))?)?"
    captures:
      "1":
        name: ">storage.modifier.java"
      "3":
        name: "entity.name.type.class.java"
      "4":
        name: "entity.name.type.class.java"
      "6":
        name: "keyword.control.java"
      "7":
        name: "variable.parameter.java"
      "9":
        name: "keyword.control.java"
      "11":
        name: "entity.name.type.class.java"
      "12":
        name: "entity.name.type.class.java"
  }
]
