<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>

  <variable scope="context" name="logPattern" value="%date{ISO8601} %-5level %thread %logger{50} - %m%n" />

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <filter class="org.eclipse.scout.rt.platform.logger.LevelRangeFilter">
      <levelMin>TRACE</levelMin>
      <levelMax>INFO</levelMax>
    </filter>
    <encoder>
      <pattern>${logPattern}</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDERR">
    <filter class="org.eclipse.scout.rt.platform.logger.LevelRangeFilter">
      <levelMin>WARN</levelMin>
      <levelMax>ERROR</levelMax>
    </filter>
    <target>System.err</target>
    <encoder>
      <pattern>${logPattern}</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="STDERR" />
  </root>
</configuration>
