# javadoc
docs.tar

# Ant
build

# Maven
target
bin

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
#.classpath
#.project
#.settings
.buildpath
.externalToolBuilders

# Xtext
java-gen
src-gen
xtext-gen
xtend-gen
generated

# Mac OS X
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db 
Desktop.ini