os:
    - linux
language: java
jdk:
    - oraclejdk8
cache:
    directories:
        - $HOME/.m2
install:
    - java -version
before_script:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
script:
    - mvn clean install
