<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <display-name>Xdocker Scout Application Server</display-name>

  <!-- Platform Startup listener -->
  <listener>
    <listener-class>org.eclipse.scout.rt.server.commons.WebappEventListener</listener-class>
  </listener>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ch.itemis.xdocker.app.xdockerscout.server.ServerServletFilter</filter-class>
    <init-param>
      <param-name>filter-exclude</param-name>
      <param-value>
        /jaxws/*
      </param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>process</servlet-name>
    <servlet-class>org.eclipse.scout.rt.server.ServiceTunnelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>diagnostics</servlet-name>
    <servlet-class>org.eclipse.scout.rt.server.admin.diagnostic.DiagnosticServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>process</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>diagnostics</servlet-name>
    <url-pattern>/diagnostics</url-pattern>
  </servlet-mapping>

  <session-config>
    <!-- Session timeout in minutes -->
    <session-timeout>60</session-timeout>
  </session-config>

</web-app>
