<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ch.itemis.xdocker.ui.oneDockerFileSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <or>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="Dockerfile">
                     </test>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="xdocker">
                     </test>
                  </or>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="xdocker"
            filenames="Dockerfile"
            icon="icons/dockerfiles.gif"
            id="ch.itemis.xdocker.Xdocker"
            name="Xdocker Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="ch.itemis.xdocker.Xdocker.validate">
         <activeWhen>
            <reference
                    definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="ch.itemis.xdocker.Xdocker.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="ch.itemis.xdocker.Xdocker.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
        <handler
              class="ch.itemis.xdocker.ui.handler.XdockerDockerInfoHandler"
              commandId="ch.itemis.xdocker.ui.commands.infoDockerCommand">
        </handler>
        <handler
              class="ch.itemis.xdocker.ui.handler.XdockerListCntnrsHandler"
              commandId="ch.itemis.xdocker.ui.commands.listDockerContainersCommand">
        </handler>
        <handler
              class="ch.itemis.xdocker.ui.handler.XdockerSearchImagesHandler"
              commandId="ch.itemis.xdocker.ui.commands.searchDockerImagesCommand">
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="ch.itemis.xdocker.Xdocker.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="ch.itemis.xdocker.Xdocker" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="ch.itemis.xdocker.Xdocker.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="ch.itemis.xdocker.Xdocker" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="ch.itemis.xdocker.Xdocker"
            name="Xdocker">
            <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
        </page>
        <page
            category="ch.itemis.xdocker.Xdocker"
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="ch.itemis.xdocker.Xdocker.coloring"
            name="Syntax Coloring">
            <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
        </page>
        <page
            category="ch.itemis.xdocker.Xdocker"
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="ch.itemis.xdocker.Xdocker.templates"
            name="Templates">
            <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
        </page>
        <page
	          category="ch.itemis.xdocker.Xdocker"
              class="ch.itemis.xdocker.ui.preference.XdockerDockerPreferencePage"
	          id="ch.itemis.xdocker.Xdocker.templates"
              name="Docker Properties">
              <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="ch.itemis.xdocker.Xdocker"
            name="Xdocker">
            <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="ch.itemis.xdocker.ui.keyword_Xdocker"
            label="Xdocker"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="ch.itemis.xdocker.Xdocker.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <category
            id="ch.itemis.xdocker.ui.commands.category"
            name="Xdocker Category">
      </category>
      <command
            categoryId="ch.itemis.xdocker.ui.commands.category"
            id="ch.itemis.xdocker.ui.commands.infoDockerCommand"
            name="Docker Info">
      </command>
      <command
            categoryId="ch.itemis.xdocker.ui.commands.category"
            id="ch.itemis.xdocker.ui.commands.listDockerContainersCommand"
            name="List Containers">
      </command>
      <command
            categoryId="ch.itemis.xdocker.ui.commands.category"
            id="ch.itemis.xdocker.ui.commands.searchDockerImagesCommand"
            name="Search Images">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="ch.itemis.xdocker.Xdocker.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="ch.itemis.xdocker.Xdocker.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="ch.itemis.xdocker.Xdocker.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="ch.itemis.xdocker.Xdocker.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                  id="ch.itemis.xdocker.ui.menus.dockerMenu"
                  label="Xdocker"
                  mnemonic="M">
               <command
                     commandId="ch.itemis.xdocker.ui.commands.infoDockerCommand"
                     id="ch.itemis.xdocker.ui.menus.infoDockerCommand"
                     icon="icons/docker-run.gif"
                     mnemonic="S">
               </command>
               <command
                     commandId="ch.itemis.xdocker.ui.commands.listDockerContainersCommand"
                     id="ch.itemis.xdocker.ui.menus.listDockerContainersCommand"
                     icon="icons/docker-ps.gif"
                     mnemonic="L">
               </command>
               <command
                     commandId="ch.itemis.xdocker.ui.commands.searchDockerImagesCommand"
                     id="ch.itemis.xdocker.ui.menus.searchDockerImagesDockerCommand"
                     icon="icons/docker-ps.gif"
                     mnemonic="A">
               </command>
            </menu>
         </menuContribution>
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                  id="ch.itemis.xdocker.ui.toolbars.dockerToolbar">
               <command
                     commandId="ch.itemis.xdocker.ui.commands.infoDockerCommand"
                     icon="icons/docker_logo_16.png"
                     id="ch.itemis.xdocker.ui.toolbars.infoDockerCommand"
                     tooltip="Docker Info">
               </command>
            </toolbar>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="xdocker">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="xdocker">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for ch.itemis.xdocker.Xdocker -->
	<extension
	        id="xdocker.check.fast"
	        name="Xdocker Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="xdocker.check.normal"
	        name="Xdocker Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="xdocker.check.expensive"
	        name="Xdocker Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="xdocker"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="ch.itemis.xdocker.Xdocker"
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="ch.itemis.xdocker.Xdocker.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="ch.itemis.xdocker.Xdocker"
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="ch.itemis.xdocker.Xdocker.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="ch.itemis.xdocker.Xdocker.OpenGeneratedCode"
				style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="ch.itemis.xdocker.Xdocker.Editor.opened" />
					</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
				<activeWhen>
					<reference definitionId="ch.itemis.xdocker.Xdocker.Editor.opened" />
				</activeWhen>
		</handler>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ch.itemis.xdocker.Xdocker.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for ch.itemis.xdocker.Xdocker -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="xdockerdsl.ui.xdocker.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="xdockerdsl.ui.xdocker.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="xdockerdsl.ui.xdocker.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="ch.itemis.xdocker.Xdocker"
	        class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="ch.itemis.xdocker.Xdocker.refactoring"
	        name="Refactoring">
	        <keywordReference id="ch.itemis.xdocker.ui.keyword_Xdocker"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="ch.itemis.xdocker.Xdocker.compare.contentViewers"
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xdocker">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="ch.itemis.xdocker.Xdocker.compare.contentMergeViewers"
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xdocker" label="Xdocker Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="ch.itemis.xdocker.Xdocker.editors.documentProviders"
            class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="xdocker">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="xdocker"
            type="text">
    </fileTypes>
  </extension>
   
  <!-- Launch Configuration -->
  <extension
         point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
            class="ch.itemis.xdocker.ui.launch.shortcut.XdockerBuildLaunchShortcut"
            icon="icons/docker-build.gif"
            id="ch.itemis.xdocker.ui.ide.dockerBuildShortcut"
            label="Docker Build Image"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="ch.itemis.xdocker.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

 <!--
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
            category="org.eclipse.ui.externaltools"
            class="ch.itemis.xdocker.ui.launch.shortcut.XdockerGenerateLaunchShortcut"
            icon="icons/docker-build.gif"
            id="ch.itemis.xdocker.ui.ide.dockerGenerateShortcut"
            label="Generate Dockerfile"
            modes="run">
         <contextualLaunch>
            <enablement>
               <reference
                     definitionId="ch.itemis.xdocker.ui.oneDockerFileSelected">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
  </extension>
  -->
  
  <!-- Generate Dockerfile Context Menu -->
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:ch.itemis.xdocker.ui.handler.XdockerGenerateMenuHandler"
           commandId="ch.itemis.xdocker.ui.commands.XdockerGenerationCommand">
     </handler>    
  </extension>

  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:ch.itemis.xdocker.ui.handler.XdockerBuildImageHandler"
           commandId="ch.itemis.xdocker.ui.commands.XdockerBuildImageCommand">
     </handler>    
  </extension>
   
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:ch.itemis.xdocker.ui.handler.XdockerDockerInfoHandler"
           commandId="ch.itemis.xdocker.ui.commands.XdockerDockerInfoCommand">
     </handler>    
     <handler
           class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:ch.itemis.xdocker.ui.handler.XdockerListCntnrsHandler"
           commandId="ch.itemis.xdocker.ui.commands.XdockerListDockerContainersCommand">
     </handler>    
     <handler
           class="ch.itemis.xdocker.ui.XdockerExecutableExtensionFactory:ch.itemis.xdocker.ui.handler.XdockerSearchImagesHandler"
           commandId="ch.itemis.xdocker.ui.commands.XdockerSearchDockerImagesCommand">
     </handler>    
  </extension>

  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate Dockerfile"
              id="ch.itemis.xdocker.ui.commands.XdockerGenerationCommand">
        </command>
  </extension>

  <extension
        point="org.eclipse.ui.commands">
        <command name="Build Image"
              id="ch.itemis.xdocker.ui.commands.XdockerBuildImageCommand">
        </command>
  </extension>
   
  <extension
        point="org.eclipse.ui.commands">
        <command name="Docker Info"
              id="ch.itemis.xdocker.ui.commands.XdockerDockerInfoCommand">
        </command>        
        <command name="List Containers"
              id="ch.itemis.xdocker.ui.commands.XdockerListDockerContainersCommand">
        </command>
        <command name="Search Images"
              id="ch.itemis.xdocker.ui.commands.XdockerSearchDockerImagesCommand">
        </command>
  </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="ch.itemis.xdocker.ui.menu"
               label="Xdocker">
	        <command
	               commandId="ch.itemis.xdocker.ui.commands.XdockerDockerInfoCommand"
	               style="push">
	        </command>
	        <command
	               commandId="ch.itemis.xdocker.ui.commands.XdockerListDockerContainersCommand"
	               style="push">
	        </command>
	        <command
	               commandId="ch.itemis.xdocker.ui.commands.XdockerSearchDockerImagesCommand"
	               style="push">
	        </command>
            <command
                  commandId="ch.itemis.xdocker.ui.commands.XdockerGenerationCommand"
                  style="push">
	            <visibleWhen checkEnabled="false">
	            	<iterate>
	       				<adapt type="org.eclipse.core.resources.IResource">
	          				<test property="org.eclipse.core.resources.name" value="*.xdocker"/>
	 				    </adapt>
	    			</iterate>
	    		</visibleWhen>
            </command>
<!--            
            <command
                  commandId="ch.itemis.xdocker.ui.commands.XdockerBuildImageCommand"
                  style="push">
	            <visibleWhen checkEnabled="false">
	            	<iterate>
	       				<adapt type="org.eclipse.core.resources.IResource">
	          				<test property="org.eclipse.core.resources.name" value="*.xdocker"/>
	 				    </adapt>
	    			</iterate>
	    		</visibleWhen>
            </command>
-->            
         </menu>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               id="ch.itemis.xdocker.ui.menu"
               label="Xdocker">
            <command
                  commandId="ch.itemis.xdocker.ui.commands.XdockerGenerationCommand"
                  style="push">
	          <visibleWhen
                  checkEnabled="false">
                <reference
                      definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
                </reference>
             </visibleWhen>
            </command>
<!--            
            <command
                  commandId="ch.itemis.xdocker.ui.commands.XdockerBuildImageCommand"
                  style="push">
	          <visibleWhen
                  checkEnabled="false">
                <reference
                      definitionId="ch.itemis.xdocker.Xdocker.Editor.opened">
                </reference>
             </visibleWhen>
            </command>
-->            
         </menu>
      </menuContribution>
  </extension>
 
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="ch.itemis.xdocker.ui.commands.infoDockerCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+6">
     </key>
     <key
           commandId="ch.itemis.xdocker.ui.commands.listDockerContainersCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+7">
     </key>
     <key
           commandId="ch.itemis.xdocker.ui.commands.searchDockerImagesCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+8">
     </key>
  </extension>
  
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="ch.itemis.xdocker.ui.preference.XdockerPreferenceInitializer">
     </initializer>
  </extension>

   <extension
        point="org.eclipse.ui.console.consoleFactories">
     <consoleFactory
           class="ch.itemis.xdocker.ui.console.XdockerConsole$Factory"
           label="Xdocker Console"
           icon="icons/docker_logo_16.png">
     </consoleFactory>
  </extension>
   
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate Dockerfile"
              id="ch.itemis.xdocker.ui.handler.XdockerGenerateMenuHandler">
        </command>
  </extension>
  
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="ch.itemis.xdocker.ui.XdockerBuildImageLaunchConfigType"
            modes="run, debug"
            name="Docker Build"
            delegate="ch.itemis.xdocker.ui.launch.XdockerBuildImageLaunchDelegate"
            />
  </extension>
   
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="ch.itemis.xdocker.ui.XdockerRunLaunchConfigType"
            modes="run, debug"
            name="Docker Run"
            delegate="ch.itemis.xdocker.ui.launch.XdockerRunImageLaunchDelegate"
            />
  </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ch.itemis.xdocker.ui.launch.XdockerBuildLaunchTabGroup"
            id="ch.itemis.xdocker.ui.XdockerBuildLaunchTabGroup"
            type="ch.itemis.xdocker.ui.XdockerBuildImageLaunchConfigType">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug Docker Build Image">
            </launchMode>
            <launchMode
                  mode="run"
                  description="Run Docker Build Image">
            </launchMode>
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ch.itemis.xdocker.ui.XdockerBuildImageLaunchConfigType"
            icon="icons/docker-build.gif"
            id="ch.itemis.xdocker.ui.XdockerBuildImageLaunchConfigTypeImage"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ch.itemis.xdocker.ui.launch.XdockerRunLaunchTabGroup"
            id="ch.itemis.xdocker.ui.XdockerRunLaunchTabGroup"
            type="ch.itemis.xdocker.ui.XdockerRunLaunchConfigType">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug Docker Container">
            </launchMode>
            <launchMode
                  mode="run"
                  description="Run Docker Container">
            </launchMode>
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ch.itemis.xdocker.ui.XdockerRunLaunchConfigType"
            icon="icons/docker-run.gif"
            id="ch.itemis.xdocker.ui.XdockerRunLaunchConfigTypeImage"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.itemis.xdocker.ui.view"
            name="Xdocker"/>
      <view
            id="ch.itemis.xdocker.ui.view.xdockerImageBrowserView"
            name="Docker Image Browser"
            icon="icons/docker-solo.gif"
            class="ch.itemis.xdocker.ui.view.XdockerImageBrowserView"
            category="ch.itemis.xdocker.ui.view"
            allowMultiple="false"/>
      <view
            id="ch.itemis.xdocker.ui.view.xdockerContainerBrowserView"
            name="Docker Container Browser"
            icon="icons/docker-solo.gif"
            class="ch.itemis.xdocker.ui.view.XdockerContainerBrowserView"
            category="ch.itemis.xdocker.ui.view"
            allowMultiple="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.itemis.xdocker.ui.view.XdockerPerspective"
            icon="icons/docker_logo_16.png"
            id="ch.itemis.xdocker.ui.view.xdockerPerspective"
            name="Xdocker">
      </perspective>
   </extension>
</plugin>
