/*
.taskbar-logo {
  visibility: hidden;
}
*/

/* Outline Button 
.view-button-tab {
  visibility: hidden;
}
*/

/*
.menubox.left {
	visibility: hidden;
}
*/

/* Outline tree
.tree-node {
	visibility: hidden;
}
*/

/*
.view-buttons {
	visibility: hidden;
}

.navigation-container {
	visibility: hidden;
}
*/

/* up/down buttons
.menu-item.menu-button {
	visibility: hidden;
}

.menubox.left {
	visibility: hidden;
}

.MenuBar-ui17 {
	visibility: hidden;
}
*/
